.HeadingClass{
    font-size: 36px;
    font-stretch: semi-expanded;
    font-style: oblique;
    font-variant-caps: titling-caps;
    Color:black

}
.firstColumn{
    margin:20px;
    text-align: center;
}
.listButton{
    padding:30px
}
.nextButton {
    float:inline-end
}
.App{
   background-color: #fff;
    
}
.priceSpan{
    font-size: 20px;
    color:red
}